{% extends "auction/base.html" %}

{% block body %}
    <h2>Auctions Closed:</h2>
    <div class="container text-center">
      <div class="row row-cols-3">
        {% for list in list1 %}
          <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="{{ list.image_url }}" width="350" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{list.title}}</h5>
                  <p class="card-text">{{ list.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="color: #FF0000">Status of Auction: <strong>Closed</strong></li>
                    <li class="list-group-item">Closed on: {{ list.endDate }}</li>
                    <li class="list-group-item">Winned by: <strong>{{ list.winner }}</strong></li>
                    <li class="list-group-item">with the best bin: <strong>{{ list.bidWinner }}</strong> USD</li>
                    <li class="list-group-item">TxiD of blockchain of this action: {{ list.txId }}</li>
                </ul>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
{% endblock %}
