{% extends "auction/base.html" %}

{% block body %}
        <div class="card" style="width: 30rem;">
            <img src="{{ list.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{list.title}}</h5>
              <p class="card-text">{{ list.description }}</p>
              <div class="card-header">
                Auction information:
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Listed By: {{ list.user }}</li>
                <li class="list-group-item">Current Bid: <strong>{{ lastBid }}</strong></li>
                <li class="list-group-item">Current Best bidder: <strong>{{ lastUserBid }}</strong></li>
                </div>
                    <form method="get" action = "{% url 'bid' %}">    
                    <li class="list-group-item"><input name= "bidAmount" placeholder = "Bid Amount" type = "number">
                    <button class="btn btn-primary" type = "submit" name = "listId" value = {{ list.id }}>Bid Item</button></li>
                </form>
                </ul>
            </div>

        </div>
{% endblock %}
